nav{
    width: 100%;
    height: 60px;
    background-color: rgb(9, 9, 87);
    color: white;
    font-weight: 400;
    backdrop-filter: saturate(180%) blur(20px);
    position: sticky;
    top: 0;
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.wrap{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.itemwrap{
    display: flex;
}
@media(max-width: 500px){
    .itemwrap{
        display: none;
    }
}
.item{
    padding: 0 30px;
    line-height: 60px;
}
body{
    margin: 0;
    padding: 0;
}
*{
    font-family: 'Libre Baskerville', serif;
}
header{
    width: 100%;
    height: 550px;
    background-image: url('kkk.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -60px;
}
main{
    max-width: 1000px;
    margin: 0 auto;
}
.postlist{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 24px;
}
@media(max-width: 500px){
    .postlist{
        grid-template-columns: repeat(1,1fr);
    }
}
@media(max-width: 700px) and (min-width:500px){
    .postlist{
        grid-template-columns: repeat(2,1fr);
    }
}
article>img{
    width: 100%;
    height: 170px;
    object-fit: cover;
}
article{
    box-shadow: 0 10px 15px -3px black;
    height: 100%;
}
.authortext>p{
    margin: 0;
}
.text>.category{
    color: rgb(70, 7, 18);
    font-weight: 600;
    text-align: center;
    margin: 0;
}
.author{
    display: flex;
}
.author>img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 16px;
}
.text{
    padding: 24px;
}
main>h2{
    text-align: center;
    color: rgb(88, 12, 24);
}
section{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
section>h2{
    text-align: center;
    width: 100%;
    margin-top: 100px;
}
section>img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-right: 16px;
}
@media(max-width: 600px){
    section>img{
        margin: 0 auto 40px;
    }
}
section>form{
width: calc(100% - 216px);
text-align: center;
}
@media(max-width: 600px){
    section>form{
        width: calc(100% - 216px);
        }
}
form>input,form>textarea{
    width: 100%;
    border: none;
    box-shadow: 0 10px 15px -3px #0000007e;
    margin-bottom: 20px;
    padding: 8px;
    font-size: 12px;
    border-radius: 3px;
}
form>input[type=submit]{
    width: 25%;
    background-color: rgb(7, 23, 75);
    color: rgb(255, 255, 255);
    font-weight: 300;
    cursor: pointer;
}
@media(max-width 600px){
    form>input[type=submit]{

    }
}
/* stopka */
footer{
    width: 100%;
    height: 60px;
    background-color: rgb(35, 34, 109);
    color: rgb(242, 247, 247);
    font-weight: 300;
    text-align: center;
    line-height: 60px;
}
/* artykol */
.artykol{
    max-width: 1000px;
    margin: 0 auto;
    min-height: 100vh
}
.artykol>img{
    width: 50%;
    height: 400px;
    margin: 0 auto;
    display: block;
}
.artykol>.data{
    text-align: center;
}
.artykol>h1{
    text-align: center;
}
.artykol>p{
    text-align: justify;
}